.about-component {
    flex-direction: column;
    width: 70% !important;
    padding: 0 15%;
}
.about p {
    margin-bottom: 3vh;
    opacity: .5;
    font-size: 15px;
    text-align: justify;
}
.about .mern-stack-link {
    color: white;
}
.github-project-link {
    display: inline-flex;
    align-items: center;
    width: max-content;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 7px;
}
.github-project-link svg {
    width: 23px;
    height: 23px;
    fill: var(--bg-color);
    margin-right: 7px;
}
.github-project-link p {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
}
.creator {
    display: flex;
    margin-top: 20vh;
}
.creator img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.creator .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    font-size: 15px;
}
.creator .data p {
    font-size: 13px;
    opacity: .5;
}
.creator .data p a {
    color: white;
}
.social-network {
    margin-top: 5px;
}
.social-network svg {
    width: 20px;
    height: 20px;
    fill: grey;
    margin-right: 7px;
    transition: fill .2s;
}
.social-network svg:hover {
    fill: white;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .about-component {
        height: auto !important;
    }
    .about-component .creator {
        margin-top: 50px;
    }
}
