.activity-component {
    overflow: auto;
}
.activity-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: max-content;
}
.activity {
    display: flex;
    margin: 40px 0;
}
.activity .activity-left-part {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.activity-list img {
    width: 30px;
    margin-right: 10px;
}
.activity-left-part .hour {
    font-size: 13px;
    opacity: .7;
}
.activity .vertical-bar {
    position: absolute;
    top: -75%;
    width: 1px;
    height: 100%;
    background-color: white;
    opacity: .4;
}
.activity-list .date {
    padding-bottom: 10px;
    margin-bottom: -30px;
    background-color: var(--bg-color);
    position: relative;
    z-index: +1;
}

.activity-list .activity-card {
    background-color: var(--light-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 20px 25px;
}
.activity-card .from, .activity-card .to {
    width: calc(50% - 12px);
    display: flex;
    align-items: center;
}
.activity-card .to {
    justify-content: end;
}
.activity-card .price {
    line-height: 17px;
}
.activity-card .price p:last-child {
    font-size: 13px;
    opacity: .5;
}