.activity-component {
    overflow: auto;
}
.activity-list {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: max-content;
}
.activity {
    display: flex;
    margin: 30px 0;
}
.activity .activity-left-part {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.activity-list img {
    width: 30px;
    margin-right: 10px;
}
.activity-left-part .hour {
    font-size: 13px;
    opacity: .6;
}
.activity .vertical-bar {
    position: absolute;
    top: -65%;
    width: 1px;
    height: 80%;
    background-color: white;
    opacity: .2;
}
.activity-list .date {
    width: fit-content;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: -30px;
    background-color: var(--bg-color);
    position: relative;
    z-index: +1;
}

.activity-list .activity-card {
    background-color: var(--light-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: var(--box-shadow);
}
.activity-card .from, .activity-card .to {
    width: calc(50% - 12px);
    display: flex;
    align-items: center;
}
.activity-card .to {
    justify-content: end;
}
.activity-card .price {
    line-height: 17px;
}
.activity-card .price .currency-price {
    font-size: 13px;
    opacity: .5;
}
/* RESPONSIVE */
@media screen and (max-width: 1400px) {
    .activity-list {
        width: 70%;
    }
}
@media screen and (max-width: 900px) {
    .activity-list {
        width: 80%;
    }
    .activity .activity-left-part {
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    .activity-list {
        width: 85%;
    }
    .activity .activity-left-part {
        margin-right: 10px;
    }
}