:root {
  --horiz-margin: 2vh;
  --vert-margin: 1%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'poppins', sans-serif;
  background-color: var(--bg-color);
  color: white;
  height: 100vh;
}
a {
  color: var(--main-color);
}
.App {
  display: flex;
}
.header-and-main-component-container {
  width: 83%;
  height: 100vh;
}