:root {
    /* --main-color: rgb(251, 174, 60); */
    --main-color: #3974f5;
    --main-color-low-opacity: rgba(251, 174, 60, .4);
    --bg-color: rgb(27, 27, 27);
    --light-bg-color: rgb(32, 32, 32);
    --light-white: rgb(209, 209, 209);
    --error-color: rgb(255, 85, 78);
    --success-color: green;
}