.form-container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--light-bg-color);
    box-shadow: var(--box-shadow);
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    box-shadow: var(--box-shadow);
}
form .form-title {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin: 0 0 5% 0;
}
form .input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 89%;
    margin: 7% 0;
    padding: 4%;
    border: 2px solid;
    border-color: var(--light-white);
    background-color: var(--light-bg-color);
    border-radius: 7px;
    transition: border-color .1s;
}
form .active-input-group {
    border: 2px solid;
    border-color: var(--main-color);
}
form .input-group .input-field {
    border: none;
    outline: none;
    font-family: poppins, sans-serif;
    background-color: var(--light-bg-color);
    color: var(--light-white);
}
form .input-group .input-label {
    position: absolute;
    top: -12px;
    font-size: 14px;
    font-weight: 500;
    color: var(--light-white);
    background-color: var(--light-bg-color);
    padding: 0 5px;
    transition: color .2s;
}
form .active-input-group .input-label {
    color: var(--main-color);
}
form .error-input-group {
    border: 2px solid;
    border-color: var(--error-color);
}
form .error-input-group .input-label {
    color: var(--error-color);
}

form .show-password-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 23px;
    right: 2px;
    top: 0;
    padding: 0 3%;
    background-color: var(--light-bg-color);
}
form .show-password-container svg {
    fill: var(--light-white);
    height: 50%;
    cursor: pointer;
}
form .show-password-container .password-eye {
    display: none;
}
form .input-submit, .guest-button {
    position: relative;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 3%;
    color: var(--bg-color);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin: 5% 0 1% 0;
}
.guest-button {
    padding: 10px 20px;
    height: auto;
    width: 200px;
}
form .input-submit .state-container {
    position: absolute;
    top: 0px;
    transition: top .5s ease-in-out;
}
form .input-submit span {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .form-links-container p {
    margin: 0;
    font-size: 13px;
    text-align: center;
}
form .form-links-container span {
    color: var(--main-color);
}
/* MESSAGES */
 form .error-msg-container {
    margin-top: -6%;
    display: flex;
    align-items: center;
    font-size: 13px;
}
form .error-msg-container svg {
    height: 15px;
    fill: var(--error-color);
}
form .error-msg-container .error-msg {
    margin: 0;
    color: var(--error-color);
    margin-left: 5px;
    font-weight: 500;
}
form .success-msg-container {
    position: absolute;
    bottom: -7%;
    width: 100%;
}
form .success-msg {
    width: 100%;
    color: var(--success-color);
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.form-bottom-link-container {
    text-align: center;
}
.form-bottom-link-container p.form-bottom-link:last-of-type {
    margin-top: 0;
}
.form-bottom-link {
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
}
.form-bottom-link span {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
    color: var(--main-color);
}