.header-container {
    height: 10vh;
    width: 97%;
    padding-right: 3%;
}
.header-container .header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.header-container .profile-img-container {
    height: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2%;
}
.header-container .profile-img-container img {
    width: 100%;
    height: 100%;
}
.header-container .total-balance-container {
    line-height: 17px;
}
.header-container .total-balance-container p:first-of-type {
    font-size: 13px;
    opacity: .4;
}
.header-container .total-balance-container p:last-of-type {
    font-weight: 500;
}