/* Hide scrollbar for Chrome, Safari and Opera */
.home-component .crypto-list-container::-webkit-scrollbar, .buy-and-sell-form-container::-webkit-scrollbar, .option-list::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.home-component .crypto-list-container, .option-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.buy-and-sell-form-container {
    justify-content: center;
    align-items: center;
}
.home-component .crypto-list-container, .buy-and-sell-form-container {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: auto;
}
.home-component .crypto-list {
    width: 100%;
}
.crypto-card:first-of-type {
    margin-top: 0;
}
.crypto-card:last-of-type {
    margin-bottom: 30px;
}
.crypto-card {
    max-width: 500px;
    background-color: var(--light-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: var(--box-shadow);
}
.crypto-icon-name {
    display: flex;
    align-items: center;
}
.crypto-card img {
    width: 30px;
    margin-right: 15px;
}
.crypto-card .crypto-base {
    font-size: 12px;
    opacity: .5;
}
.crypto-card .crypto-amount {
    position: relative;
    right: 0;
}
.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .3;
    font-size: 13px;
}
.home-loading-container {
    background-color: var(--bg-color);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: +1;
}
.loding-msg {
    display: flex;
    justify-content: center;
    font-size: 13px;
    opacity: .3;
    margin-top: 40vh;
}

.buy-and-sell-form {
    width: calc(100% - 50px);
    position: relative;
    padding: 25px;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    overflow: hidden;
}
.from-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-container {
    position: absolute;
    top: 113px;
    display: flex;
    justify-content: center;
    height: 35px;
    width: calc(100% - 40px);
    margin-top: -35px;
}
.sign-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    width: 35px;
    font-size: 24px;
}
.down-arrow-container {
    top: 255px;
}
.to-input-container {
    margin-top: 100px;
}
.input-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.input-container .select-container {
    width: 50%;
    float: left;
}

.input-container:first-child {
    padding-top: 0;
}
.input-container input {
    width: 50%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 22px;
    text-align: right;
}
.input-container .vertical-bar {
    display: inline;
    width: 1px;
    height: auto;
    margin: 11px 0;
    background-color: rgba(255, 255, 255, .5);
}
/* REMOVE INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.select {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.selected {
    display: flex;
    align-items: center;
}
.selected svg {
    width: 20px;
    margin: 0 0 0 15px;
}
.selected svg path {
    stroke: rgba(255, 255, 255, .5);
}
.option-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: +1;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    overflow: scroll;
    animation: slide-up .2s ease-out forwards;
}
@keyframes slide-up {
    from { top: 100%; }
    to { top: 0; }
}
.option-list .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}
.option-list .option:hover {
    background-color: rgb(36, 36, 36);
}
.option-list .option:first-child {
    border-radius: 15px 15px 0 0;
}
.selected img, .option-list img {
    width: 30px;
    margin-right: 15px;
}
.option .crypto-name-container {
    display: flex;
    align-items: center;
}
.crypto-name .name {
    font-weight: 500;
    line-height: 18px;
}
.crypto-name .symbol {
    font-size: 13px;
    opacity: .3;
}
.currency-input-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.currency-input-container img {
    margin: 0 10px;
}
.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.crypto-price-container {
    text-align: right;
}
.crypto-price-container .crypto-price {
    font-size: 14px;
    opacity: .5;
}
.crypto-price-container .crypto-price span {
    margin-right: 5px;
    font-size: 10px;
}
form button {
    font-family: 'poppins', sans-serif;
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    color: var(--bg-color);
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;
}
.buy-and-sell-form .error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3px;
    color: var(--error-color);
    font-size: 13px;
    width: calc(100% - 40px);
}
.buy-and-sell-form .error-msg svg path {
    stroke: var(--error-color);
}
.buy-and-sell-form .error-msg svg g {
    fill: var(--error-color);
}
.prefix__n-info-tri {
    animation:n-info-tri 1s cubic-bezier(.455,.03,.515,.955);
}
@keyframes n-info-tri {0%,to{transform:rotate(0deg);transform-origin:center}10%,90%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-6deg)}30%,50%,70%{transform:rotate(6deg)}80%{transform:rotate(-2deg)}}

.input-submit .success {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-submit .success .lottie-container {
    overflow: hidden;
    width: 25px;
    margin-right: 5px;
}


.first-connection-msg-component {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;
    z-index: +1;
    color: var(--bg-color);
}
.first-connection-msg-component .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--main-color);
    padding: 25px 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.first-connection-msg-component .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.first-connection-msg-component button {
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 10px 17px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}
.first-connection-msg-component p {
    margin-bottom: 5px;
}
.first-connection-msg-component .cross {
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
}
/* RESPONSIVE */
@media screen and (max-width: 1050px) {
    .main-component-container {
        overflow: scroll;
    }
    .home-component {
        height: max-content !important;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start !important;
        overflow: scroll;
    }    
    .home-component .crypto-list-container, .buy-and-sell-form-container {
        width: 100%;
    }
    .home-component .buy-and-sell-form-container .wrapper, .home-component .crypto-list {
        width: 450px;
    }
    .home-component .crypto-list-container {
        margin-top: 60px;
    }
}
@media screen and (max-width: 600px) {

}