.login-component {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--bg-color);
    background-image: url('../img/1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
    .main-component-container .login-component {
        flex-direction: column;
        justify-content: center;
    }
    .login-component .guest-button {
        width: 400px;
        margin-bottom: 60px;
        padding: 20px ;
    }
}