.menu-container, .retracted-menu {
    width: 250px;
    background-color: var(--light-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.menu-container .logo-container, .retracted-menu .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}
.menu-container .logo-container .logo {
    fill: var(--main-color);
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.menu-container .logo-container h1 {
    font-size: 18px;
    font-weight: 600;
}
.menu-container .retract-menu-button, .retracted-menu .retract-menu-button {
    position: absolute;
    top: 20vh;
    right: -15px;
    background-color: var(--light-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.menu-container .retract-menu-button svg, .retracted-menu .retract-menu-button svg {
    width: 50%;
    height: 50%;
}
.menu-container .links-container, .retracted-menu .links-container {
    display: flex;
    flex-direction: column;
}
.menu-container .links-container a, .retracted-menu .links-container a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 1.5vh 0;
    padding-left: 5%;
    position: relative;
    transition: background-color .1s;
}
.menu-container .links-container a.active {
    color: var(--main-color);
}
.menu-container .links-container a.active::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 27px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    border-radius: 0 5px 5px 0;
}
.links-container svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
}
.links-container a.active svg path {
    stroke: var(--main-color);
}
.links-container svg path {
    stroke: white;
}
.menu-container .links-container a:hover {
    background-color: rgba(100, 100, 100, .1);
}
.menu-container .bottom-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
}
.bottom-menu-container a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    opacity: .3;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    transition: opacity .2s;
}
.bottom-menu-container svg {
    margin-right: 2%;
    width: 20px;
    height: 20px;
}
.bottom-menu-container a:hover {
    opacity: .6;
}


/* RETRACTED MENU */
.retracted-menu {
    width: 50px;
}
.retracted-menu .retract-menu-button {
    transform: rotate(180deg);
}
.retracted-menu .logo-container {
    margin-top: 2vh;
}
.retracted-menu .logo-container h1 {
    display: none;
}
.retracted-menu .logo-container .logo {
    fill: var(--main-color);
    width: 30px;
    height: 30px;
}
.retracted-menu .links-container {
    align-items: center;
}
.retracted-menu .links-container p {
    display: none;
}
.retracted-menu .links-container a:hover {
    background-color: rgba(100, 100, 100, .15);
}
.retracted-menu .links-container a {
    width: 60%;
    justify-content: center;
    border-radius: 5px;
    padding-left: 0;
    padding: 5px 0;
    margin: 10px 0;
}
.retracted-menu .links-container svg {
    margin-right: 0;
    width: 23px;
    height: 23px;
}
.retracted-menu .bottom-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    width: inherit;
}
.retracted-menu .bottom-menu-container a {
    margin: 10px 0;
}
.retracted-menu .bottom-menu-container p {
    display: none;
}
.retracted-menu .bottom-menu-container svg {
    margin-right: 0;
    width: 23px;
    height: 23px;
}
.bottom-menu .hamburger {
    display: none;
    height: 100%;
    width: 100%;
    width: max-content;
    cursor: pointer;
}
.bottom-menu .hamburger p {
    margin-top: 5px;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
    .bottom-menu {
        width: 100%;
        height: 70px;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        font-size: 14px;
        z-index: +1;
    }
    .bottom-menu .links-container {
        width: 80%;
        flex-direction: row;
    }
    .bottom-menu .links-container p, .bottom-menu .bottom-menu-container p {
        display: block;
        text-align: center;
    }
    .bottom-menu .links-container a svg {
        margin-bottom: 5px;
    }
    .bottom-menu .links-container a {
        flex-direction: column;
    }
    .bottom-menu .links-container a:hover {
        background-color: transparent;
    }
    .bottom-menu .links-container .active {
        color: var(--main-color);
    }
    .bottom-menu .retract-menu-button, .bottom-menu .logo-container {
        display: none;
    }
    .bottom-menu .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bottom-menu .bottom-menu-container {
        width: 20%;
        justify-content: center;
        margin-bottom: 0;
    }
    .bottom-menu .bottom-menu-container .links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 15px;
        background-color: var(--light-bg-color);
        position: absolute;
        bottom: calc(100% + 15px);
        border-radius: 7px;
        transition: right .5s ease-in-out;
    }
    .bottom-menu .bottom-menu-container .links svg {
        margin-right: 7px;
    }
    .bottom-menu .bottom-menu-container .links a {
        opacity: 1;
    }
}
@media screen and (max-width: 500px) {
    .bottom-menu .links-container p {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    .bottom-menu .links-container p {
        display: none;
    }
    .bottom-menu .links-container .active::after {
        content: '';
        background-color: var(--main-color);
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }
}