.menu-container {
    background-color: var(--light-bg-color);
    height: 100vh;
    width: 17%;
    min-width: 200px;
}
.menu-container .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 15vh;
}
.menu-container .logo-container .logo {
    fill: var(--main-color);
    width: 40px;
    height: 40px;
    margin-right: 5%;
}
  
.menu-container .logo-container h1 {
    font-size: 17px;
}
.menu-container .links-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.menu-container .links-container a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 1.5vh 0;
    padding-left: 5%;
    transition: background-color .2s;
    position: relative;
}
.menu-container .links-container a.active {
    color: var(--main-color);
}
.menu-container .links-container a.active::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 27px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    border-radius: 0 5px 5px 0;
}
.menu-container .links-container svg {
    width: 25px;
    height: 25px;
    margin-right: 2%;
}
.menu-container .links-container a.active svg path {
    stroke: var(--main-color);
}
.menu-container .links-container svg path {
    stroke: white;
}
.menu-container .links-container a:hover {
    background-color: rgba(100, 100, 100, .1);
}
.menu-container .bottom-menu-container {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
}
.menu-container .bottom-menu-container a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    opacity: .3;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    transition: opacity .2s;
}
.menu-container .bottom-menu-container svg {
    margin-right: 2%;
    width: 20px;
    height: 20px;
}
.menu-container .bottom-menu-container a:hover {
    opacity: .6;
}