.settings-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings-component .user-data-container {
    width: 60%;
}
.user-data-container .element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #80808027;
    padding: 20px 0;
}
.user-data-container .hide p {
    opacity: .3;
}
.user-data-container .change-profile-img-container {
    position: relative;
    width: 40%;
    height: 33px;
    display: flex;
}
.user-data-container .change-profile-img-container input {
    width: calc(100% - 18px);
    padding: 9px;
    outline: none;
    background-color: #303030;
    border: none;
    color: white;
    border-radius: 3px;
}
.user-data-container .change-profile-img-container .input-error {
    color: var(--error-color);
}
.user-data-container .change-profile-img-container .link-error-msg {
    position: absolute;
    bottom: -21px;
    color: var(--error-color);
    font-size: 13px;
}
/* .user-data-container .loading-component {
    position: absolute;
    left: -35px;
} */
.success-change-anim {
    position: absolute;
    left: -35px;
    width: 30px;
    height: 100%;
}
.success-change-anim path {
    animation:check 1s forwards cubic-bezier(.99,-.1,.01,1.02);
    stroke: white;
}
@keyframes check {to {stroke-dashoffset: 0;}}


.user-data-container .element button {
    padding: 5px 10px;
    font-weight: 500;
}



.change-password-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}
.change-password-form {
    width: 320px;
    position: relative;
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 15px;
}
.change-password-form .form-title {
    margin: 20px 5px;
    font-size: 20px;
}
.change-password-form .cross {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}
.change-password-form .input-submit {
    padding: 4%;
}